/* Font imports -------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
/*@import url('assets/fonts/celtic.tff');*/
/* Root Variable ------------------------------------------------------*/
:root {
    --bg-color: rgb(157, 177, 245);
    --announcement-bar-bg-color: rgb(0, 168, 76);
    --announcement-bar-font-color: rgb(240, 193, 247);
    --clare-yellow: rgb(244, 196, 48);
    --kerry-green: rgb(0, 153, 0);
    --waterford-blue: rgb(0, 0, 255);
    --cork-red: rgb(255, 0, 0);
    --munster: rgb(255, 72, 72);
    --waves: rgb(28, 193, 201);
    --small-nav: rgb(199, 214, 243);
    --dropdown-curtain-color: rgba(51, 51, 51, .3);
    --footer-color: rgb(174 ,143 ,96);
    --facebook: rgb(6, 118, 232);
    --twitter: rgb(93,169,221);
    --youtube: rgb(255, 0, 0);
    --instagram: rgb(221, 42, 123);

}

/* General Styling ----------------------------------------------------*/
body{
    font-family: "original surfer";
    background: var(--bg-color);
    padding: 0;
    margin: 0;
}

.announcement-bar{
    background: var(--announcement-bar-bg-color);
    color: var(--announcement-bar-font-color);
    outline: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.company-logo{
    max-width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    margin: 0;

}

.home-page-map{
    padding: 2vw 15vw 2vw 2vw;
    border: 5px solid blue;
    display: flex;
    margin: 2vw;
    max-width: 96%;
    position: relative;
}

.click-icon{
    position: absolute;
    left: 3vw;
    font-size: 4vw;
    display: inline;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.no-surfing-notification{
    visibility: hidden;
}
 /* Navbar ------------------------------------------------------------------------*/

 .small-screen-navbar{
     font-family: 'pacifico';
     font-size: 5vw;
     display: none;
     width: 96%;
     max-width: 100%;
     background: var(--small-nav);
     padding: 2vw;
 }

 .small-screen-navbar-content-disabler{
     pointer-events: auto;
 }
 .small-screen-navbar-dropdown-curtain{
     background: var(--dropdown-curtain-color);
     display: none;
     position: fixed;
     height: 100vh;
     width: 100vw;
     z-index: 20;
     pointer-events: none;
 }
 .small-screen-navbar-container{
     width: 100%;
     position: fixed;
     z-index: 40;
 }
 .small-nav-munster{
     color: var(--munster);
 }
 .small-nav-waves{
     color: var(--waves);
 }
 .burger{
     position: absolute;
     right: 2vw;
 }
 .small-screen-navbar-dropdown-container{
     display: none;
     padding: 0;
     margin: 0;
 }
 .small-screen-navbar-dropdown-filler{
     display: inline-block;
     position: absolute;
     width: 50%;
     height: 0;
 }
 .small-screen-navbar-dropdown-components{
    display: inline-block;
    width: 50%;
    position: absolute;
    right: 0;
 }
 .large-screen-navbar{
    display: flex;
 }

 .clare-nav{
    font-family: 'Celtic';
    font-size: 3vw;
    font-weight: bold;
    background: var(--clare-yellow);
    flex: 1;
    text-align: center;
    padding: 2%;
    cursor: pointer;
 }

 .kerry-nav{
    font-family: 'Celtic';
    font-size: 3vw;
    font-weight: bold;
    background: var(--kerry-green);
    flex: 1;
    text-align: center;
    padding: 2%;
    cursor: pointer;
 }

 .cork-nav{
     font-family: 'Celtic';
     font-size: 3vw;
     font-weight: bold;
     background: var(--cork-red);
     flex: 1;
     text-align: center;
     padding: 2%;
     cursor: pointer;
 }

 .clare-nav:hover{
    color: white;
 }

 .kerry-nav:hover{
    color: white;
 }
 .cork-nav:hover{
    color: white;
 }
 .waterford-nav:hover{
    color: white;
 }
 .signup-nav:hover{
    color: white;
 }

 .waterford-nav{
    font-family: 'Celtic';
    font-size: 3vw;
    font-weight: bold;
    background: var(--waterford-blue);
    flex: 1;
    text-align: center;
    padding: 2%;
    cursor: pointer;
 }

 .signup-nav{
    font-family: 'Celtic';
    font-size: 3vw;
    font-weight: bold;
    background: silver;
    flex: 1;
    text-align: center;
    padding: 2%;
    cursor: pointer;
 }

 /* footer ------------------------------------------------------------------------*/
 .footer{
     background: var(--footer-color);
 }

 .social-icons{
     display: flex;
 }
 .social-icons > div{
     font-size: 5vw;
     text-align: center;
 }

 .facebook{
     flex: 1;
 }
 .twitter{
    flex: 1;
}
.youtube{
    flex: 1;
}
.instagram{
    flex: 1;
}
.facebook:hover{
    flex: 1;
    color: var(--facebook);
}
.twitter:hover{
   flex: 1;
   color: var(--twitter); 
}
.youtube:hover{
   flex: 1;
   color: var(--youtube);
}
.instagram:hover{
   flex: 1;
   color: var(--instagram);
}
.copyright{
    text-align: center;
}

/* Maps------------------------------------------------------------*/
    #clare-map{
            height: 60vw;
            border: 5px solid blue;
            display: flex;
            margin: 2vw;
            max-width: 96%;
            position: relative;
        
    }

    #kerry-map{
        height: 60vw;
        border: 5px solid blue;
        display: flex;
        margin: 2vw;
        max-width: 96%;
        position: relative;
    }
        #cork-map{
            height: 60vw;
            border: 5px solid blue;
            display: flex;
            margin: 2vw;
            max-width: 96%;
            position: relative;
    }
 /* media queries -------------------------------------- */

 @media only screen and (max-width: 768px) {
    .small-screen-navbar{
        display: block;
    }
    .large-screen-navbar{
        display: none;
    }
 }

 @media only screen and (min-width: 769px) {
    .small-screen-navbar-container{
        display: none; /* for cases when the screen is resized and the small screen navbar disappears
                          while the dropdown is open */
    }
    
 }