/* Font imports -------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
/* Root Variable ------------------------------------------------------*/
:root {
    --bg-color: rgb(189, 231, 245);
    --announcement-bar-bg-color: rgb(0, 168, 76);
    --announcement-bar-font-color: rgb(240, 193, 247);
}

/* General Styling ----------------------------------------------------*/
body{
    font-family: "original surfer";
    background: var(--bg-color);
    padding: 0;
    margin: 0;
}

.announcement-bar{
    background: var(--announcement-bar-bg-color);
    color: var(--announcement-bar-font-color);
    outline: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.company-logo{
    max-width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    margin: 0;

}

.home-page-map{
    padding: 2vw 15vw 2vw 2vw;
    border: 5px solid blue;
    display: flex;
    margin: 2vw;
    max-width: 96%;
}

.click-icon{
    position: relative;
    left: 70vw;
    font-size: 5em;
    display: inline;
    margin: 0;
    padding: 0;
}

.no-surfing-notification{
    visibility: hidden;
}
